.experience-record{
    background: $experience-record-background;
    padding-left: 15px;
	
	.experience-description{
		/*height: 150px;*/
		padding-left: 15px;

		@media screen and (max-width: 767px){
			padding-left: 0;
		}

		p:first-child{
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	.experience-description > p {
	    margin-bottom: 0;
	    line-height: calc(150px / 4);

	    span{
	    	font-weight: bold;
	    }
	}

	@media screen and (max-width: 767px){
	    flex-direction: column;
    	box-sizing: border-box;

    	.company-thumb{
    		width: 100%;

    		img{
    			width: 100%;
    		}
    	}
	}
}