
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$typing-black: #636b6f;

$heading-color-grey: #e1e4ea;
$heading-border-color-grey: #d0d3db;

$heading-border-color-rgb-grey: rgba(137, 137, 137, 0.51);
$a-little-inside-padding-red-rgba: rgba(195, 75, 75, 0.34);
$a-little-inside-data-background-glass-rgba: rgba(204, 198, 198, 0.34);
$description-background-rgba: rgba(36, 141, 198, 0.33);