.form-container{
	border: 15px solid $form-border-thick-green;
	border-radius: 25px;
	padding: 25px;

	input, textarea{
		width: 100%;
		resize: none;
		padding: 6px;
		font-size: 12px;
		border-radius: 8px;
    	border: 2px solid $input-field-border-ultraviolet;
    	outline: none;
	}
	button{
		display: block;
		margin-left: auto;
		margin-right: 0;
		cursor: pointer;
		outline: none;
	}
}

.social-media-icons{
	font-size: 60px;
	color: $default-color-social-media;
}

.contact-me-links{
	margin: 0 auto;
	width: fit-content;
	span{
		padding: 0 25px;

		@media screen and (max-width: 767px){
		    display: inline-block;
    		width: calc((100% / 2) - 2px);
		}
	}
}